HTTP_HOST=127.0.0.1
HTTP_PORT=3000
DB_PATH=./data/delivery_car.db
CAR_TCP_HOST=0.0.0.0
CAR_TCP_PORT=8898
CAR_OFFLINE_TIMEOUT_MS=6000
CAR_MAX_MESSAGE_BYTES=65536
IMAGE_PORT=8888
VOICE_MODEL_PORT=8899
TRAFFIC_PROVIDER=mock
# VOICE_MODEL_API_URL=http://127.0.0.1:8000/voice-command
